@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 340 100% 98%;
    --foreground: 340 10% 30%;
    --card: 340 100% 96%;
    --card-foreground: 340 10% 30%;
    --popover: 340 100% 96%;
    --popover-foreground: 340 10% 30%;
    --primary: 340 82% 61%;
    --primary-foreground: 340 100% 98%;
    --secondary: 340 40% 92%;
    --secondary-foreground: 340 20% 20%;
    --muted: 340 30% 94%;
    --muted-foreground: 340 10% 55%;
    --accent: 340 60% 85%;
    --accent-foreground: 340 20% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 340 20% 88%;
    --input: 340 20% 90%;
    --ring: 340 82% 61%;
    --chart-1: 340 76% 61%;
    --chart-2: 350 58% 59%;
    --chart-3: 0 37% 44%;
    --chart-4: 330 74% 66%;
    --chart-5: 345 87% 77%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 340 10% 10%;
    --foreground: 340 10% 90%;
    --card: 340 10% 12%;
    --card-foreground: 340 10% 90%;
    --popover: 340 10% 10%;
    --popover-foreground: 340 10% 90%;
    --primary: 340 82% 61%;
    --primary-foreground: 340 100% 98%;
    --secondary: 340 15% 20%;
    --secondary-foreground: 340 10% 80%;
    --muted: 340 15% 25%;
    --muted-foreground: 340 10% 60%;
    --accent: 340 20% 30%;
    --accent-foreground: 340 10% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 340 10% 25%;
    --input: 340 10% 25%;
    --ring: 340 82% 61%;
    --chart-1: 340 70% 50%;
    --chart-2: 350 60% 45%;
    --chart-3: 0 80% 55%;
    --chart-4: 330 65% 60%;
    --chart-5: 345 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
